<?xml version="1.0"?>
<launch>
	
	<arg name="model" default="$(find ardupilot_sitl_gazebo_plugin)/urdf/armada_base.xacro"/>
  	<arg name="enable_logging" default="true"/>
  	<arg name="enable_ground_truth" default="true"/>
  	<arg name="log_file" default="armada"/>

	<param name="robot_description" command="
    	$(find xacro)/xacro.py '$(find ardupilot_sitl_gazebo_plugin)/urdf/armada_base.xacro'
    	enable_logging:=$(arg enable_logging)
    	enable_ground_truth:=$(arg enable_ground_truth)
    	log_file:=$(arg log_file)"
  	/>

	<param name="tf_prefix" value="" />
	<param name="use_gui" value="false"/>
	
<!--	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ardupilot_sitl_gazebo_plugin)/resource/armada.rviz" output="screen" required="true" /> -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ardupilot_sitl_gazebo_plugin)/resource/quad_2nav.rviz" output="screen" required="true" /> 
</launch>


