<?xml version="1.0"?>

<model>
  <name>Armada_Wall1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Arthru Marchal</name>
    <email>arthur.marchal@altran.com</email>
  </author>

  <description>
    Wall for testing proximity system with simulation. Armada project.
  </description>

</model>
